@import url('https://fonts.googleapis.com/css2?family=Ultra&family=Roboto&display=swap');

body {
    font-family: 'Ultra', serif;
    background-color: #FAECC6;
    margin: 0;
}

h1 {
    font-family: "Ultra", sans-serif;
    font-size: 72px;
    color: #BC0E0E;
    width: 100%;
    transition: font-size 0.5s;
    text-align: center;
}

#logo {
    display: block;
    margin: 0 auto; /* Center the logo horizontally */
    max-width: 100%;
    height: auto;
    transition: max-width 0.5s; /* Add a smooth transition effect */
}

#header {
    margin-bottom: 20px;
    transition: font-size 0.5s;
}

h2 {
    font-family: "Ultra", sans-serif;
    font-weight: normal;
    color: #5D1B24;
    text-align: center; /* Center the text */
}

p {
    font-family: 'Roboto';
    color: #A3593F;
    text-align: center;
}

.gallery,
.about-section,
.instagram-embed,
.contact-section {
    margin: 0 20px;
    padding: 20px;
    box-sizing: border-box;
    color: #5D1B24;
    font-family: "Ultra", sans-serif;
    text-align: center; /* Center the text */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer-section {
    margin-top: auto;
    height: 200px;
    color: #5D1B24;
    font-family: "Ultra", sans-serif;
    text-align: center; /* Center the text */
}

.footer-section p {
    color: #777520;
}

.gallery {
    overflow: hidden;
}

.gallery-container {
    display: flex;
    transition: transform 0.5s ease;
    justify-content: center; /* Center the content */
}

.gallery img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 10px;
}

/* Styling for links */
a {
    color: #777520;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #777520;
}
